@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<h4><a href="https://www.linkedin.com/in/rumeysaturgut/"><b>LinkedIn</b></a><br></h4>
<h4><a href="https://github.com/rumeysaturgut"><b>Github</b></a></h4>